


{%extends 'base.html'%}

{% block scripts %}
<script>

  $(document).ready(function () {

    

    loadTweetContainer("tweet-container");
  })

</script>


{%endblock scripts %}

{% block title %} Tweets| {{block.super}}{% endblock title%}

{% block content %} 
<div class="row">
    <div class="col-sm-3" style="background-color:red;">
       <h3> {{request.user}}</h3>
    </div>
    
   

    <div class="col-sm-9">
      {% if not request.GET.q%}
        <!-- {% include 'tweets/forms.html' with form=createform action=create_url btn_value='Tweet'%} -->
        <form action="/tweet/create/"method="post" id="tweet-form">{% csrf_token %}
            {{ createform.as_p }}
            <input class="btn btn-default" type="submit" value="Tweet" />
           
        </form>
        
        {% endif%}

       <div id="tweet-container" data-url='/api/tweet'>

        </div>
        <a href="#" class="loadmore">Load More</a>





           
  </div>
</div>



{% endblock content%}

